extends /layout/layout

block htmlhead
    title João Figueiredo — Frontend Engineer
    meta(name='description', content='João Figueiredo — Frontend Engineer')

block htmlbody
    //+header()
    +intro()
    +titled-section({
      title: "Some bits about me",
      subtitle: "",
      options: {
        color: 'dark',
        align: 'left'
      }
    })
      .l-grid-cell.l-two-thirds
        p(style="max-width: 500px")
          | I currently ship pixels and digital experiences at <a href="http://www.ginetta.net" class="link link--white">Ginetta</a> — a leading design agency based in Zurich, Swizterland. Before that, I was at <a href="http://www.betfair.com/sport" class="link link--white">Betfair Portugal</a> - the world's largest Internet betting exchange.
        p(style="max-width: 500px")
          | I started making website in my teens, at which I felt in love with the web.
          | While still in college, I co-founded and built <a class="link link--white" href="http://sereiaschaves.com/">Serei As Chaves</a> — a disruptive way of betting in lotteries.
        p(style="max-width: 500px")
          | After finishing a master in software enginerring, I became obcessed with <strong>frontend engineering</strong>. You can chat with me about usability, performance, accessibility, and web semantics.

      .l-grid-cell.l-one-third
        h4 Skills
        ul.skills
          +skill("Javascript", "90%", "li")
          +skill("HTML", "80%", "li")
          +skill("CSS", "70%", "li")
          +skill("Sass", "80%", "li")
          +skill("AngularJS", "80%", "li")
          +skill("BackboneJS", "50%", "li")
          +skill("NodeJS", "50%", "li")
          +skill("Grunt", "80%", "li")


    +titled-section({
      title: "Projects",
      subtitle: "Stuff I built for fun, profit or both.",
      options: {
        color: 'light'
      }
    })
      ul.projects
        +project({
          date: '2014',
          name: 'Helsana Directcare',
          url: 'https://portal.helsana.ch/xcare',
          description: "This easy-to-use web application allows everyone to choose their health insurance <em>à la carte</em>: Users simply indicate their needs and are shown their best options in return.",
          tags: ['HTML', 'Sass', 'AngularJS', 'Coffeescript', 'Grunt'],
          image: 'xcare2'
        })
        +project({
          date: '2013 &ndash; 2014',
          name: 'Betfair Sportsbook',
          url: 'betfair.com/sport/',
          description: "Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.",
          tags: ['HTML', 'CSS', 'Javascript', 'YUI3', 'LESS'],
          image: 'sports-1'
        })
        +project({
          date: '2013 &ndash; 2014',
          name: 'Serei As Chaves',
          url: 'http://sereiaschaves.com/',
          description: "This was my first (and only, for now) startup. I co-founded it while I was still in college. It is an online platform to bet in euromillions in syndicates. Syndicates can be public or private and we take care of the bets submission, and prize distribution. Users are able to participate in large syndicates multiplying their chances of winning or invite their friends into a private syndicate and automate the whole process of managing a syndicate. I created all the front end and helped in some back end related tasks. I was also involved in many business decisions and work streams.",
          tags: ['Ruby on sRails', 'HTML', 'SASS', 'Javascript', 'jQuery'],
          image: 'sac-1'
        })
    +footer()
