$easing-function: cubic-bezier(0.585, 0.710, 0.615, 1.245);

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project {
  padding: 3 * $s-gutter 0;

  &:last-child { padding-bottom: 0; }
  transition: transform 700ms $easing-function;
  transform: translateX(0);
  &.js-is-focused-image {
    transform: translateX(-55%);
  }
  &.js-is-focused-image.project--image-first {
    transform: translateX(41%);
  }

  &-image {
    width: 100%;
    opacity: 0;
    transform: translateX(20%);
    &--first {
      transform: translateX(-70%);
    }
  }

  &-details-container {
    padding-top: $s-gutter * 3;
  }

  &-year {
    font-size: .8em;
    margin-bottom: 0;
  }


  &-title {
    margin-top: 0;
    margin-bottom: 2em;
  }

  &-description {
    margin-top: 0;
    margin-bottom: 2em;
  }

  &-tags-title {
    color: #34495e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
  }

  &-tags {
    margin-top: 0;
    font-size: .8em;
  }


}

.center-project {
  width: $s-design-width;
  max-height: 3/4 * $s-design-width;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: max-height 300ms ease-in;
  &:before {
    content: url(../assets/eye.svg);
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 0;
    width: 30px;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    margin-left: -40px;
    transition: margin-left 300ms $easing-function;
  }

  .js-is-focused-image &:before {
    content: url(../assets/close.svg);
  }
  .js-is-focused-image & {
    max-height: 4 * $s-design-width
  }
  &:hover:before {
    opacity: 1;
    margin-left: 0;
  }
}

.js-is-within-viewport {
  .project-image {
    transition: transform 500ms $easing-function, opacity 300ms ease;
    opacity: 1;
    transform: translateX(0);
    &--first {
      transform: translateX(-50%);
    }
  }
}
