/*
 * Variables that are used on the project.
 * Never use a color that is not in here
 *
 * Namespace:
 *  f: font
 *  c: color
 *  s: size
 *  i: icons & sprites
 *  a: animations & transitions
 */
// Fonts

// @import url(http://fonts.googleapis.com/css?family=Roboto:300,700);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:600,300);

$base-font-size: 16px;
$line-height-ratio: 1.5;

$base-font-family: 'Roboto Slab', serif;
// $headings-font-family: 'Open Sans', sans-serif;
$f-default: $base-font-family;


$s-design-width: 1060px;

// Colors
$colors: (
  almost-black : #222,
  grey-dark    : #666,
  grey-lightest: #f7f7f7,
  grey-light   : #ddd,
  grey-medium  : #9B9B9B,
  almost-white : #fefefe,
  white        : #fff,


  example-red: #F1592A,
  tryout-blue: #4A90E2


);

$s-gutter: .5rem;
$spacings: (
  xsmall: ($s-gutter * 0.5),
  small:  ($s-gutter * 1),
  medium: ($s-gutter * 2),
  large:  ($s-gutter * 5),
  xlarge: ($s-gutter * 10)
);

// spacings
$s-gutter: 20px;
// sizes

// sprites & icons

// animations

