// @import "sensible/grid";

.l-site-width {
  margin: 0 auto;
  max-width: $s-design-width;
}

.l-pr { position: relative; }
.l-center-v {
  position: absolute;
  top: 50%;
  padding: $s-gutter;
  transform: translateY(-50%);
  right: 0;
  left: 0;
}

.l-center {
  display: block;
  margin: 0 auto;
}

.l-full-screen {
  min-height: 100vh;
}

.l-full-screen {
  min-height: 100vh;
}


@include sensibleGrid (
    $modern: true,
    $gutter: $s-gutter,
    $base-font-size: 16px,
    $slug: "l-",
    $pushClasses: true,
    // $gutterModifiers: (
    //     "no-gap"            : 0,
    //     "double"            : 2 * $s-gutter,
    //     "triple"            : 3 * $s-gutter
    // ),
    $gridWidths: (
        "one-whole"         : 100%,
        "one-half"          : 50%,
        "one-quarter"       : 25%,
        "three-quarters"    : 75%,
        "one-third"         : 33.333%,
        "two-thirds"        : 66.666%,
        "one-fifth"         : 20%,
        "two-fifths"        : 40%,
        "three-fifths"      : 60%,
        "four-fifths"       : 80%,
        "one-sixth"         : 16.666%,
        "five-sixths"       : 83.333%
    ),
    $gridBreakpoints: "not-tablet" "tablet" "tablet-portrait" "not-mobile" "mobile" "mobile-portrait" "print"
);

.section-image {
  width: map-get($spacings, "xlarge");
  display: block;
  margin: 0 auto;
}


.section {
  @extend .l-site-width;
  @extend .l-spacing-xlarge-v;
  @extend .l-spacing-medium-h;
}


.tech-image { margin-right: $s-gutter; margin-top: $s-gutter; }

.dib { display: inline-block; }


.l-post-container {
  margin: 0 auto;
}
