.cv-zone {
	// LAYOUT
	@include row();
	@include media($mobile) {
		.cv-header { 
			@include span-columns(4); @include row(); 
			padding-left: $padding - 2px; // list-anchor border size
			h3 { margin-bottom: 0; }
		}
		.cv-content { @include span-columns(4); @include row(); }
		.cv-entry-date { font-size: 18px; font-size: 0.75rem; line-height: 18px * $lh-ratio; }
	}
	@include media($tablet) {
		.cv-header { 
			@include span-columns(10);
			@include row(); 
			padding-left: $padding - 2px; // list-anchor border size
			h3 { margin-bottom: 0; }
		}
		.cv-content { @include span-columns(10); @include row(); }
		.cv-entry-date { font-size: 18px; font-size: 0.75rem; line-height: 18px * $lh-ratio; }
	}
	@include media(min-width 800px 12) {
		.cv-header { @include span-columns(3); text-align: right; }
		.cv-content { @include span-columns(8); }
		.cv-entry-date { font-size: 21px; font-size: 0.875rem; line-height: 21px * $lh-ratio;}
	}
	// STYLING
	.cv-content { padding: 0 15px; }
	.cv-entry-date {
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 2px;
		color: lighten($mainColor, 25%);
	}
	.cv-entry-title {
		color: $mainColor;
		margin-bottom: 0;
		font-style: italic;
	}
	&:not(:first-child) { margin-top: 30px; }
}

.lined-list {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding-left: $padding;
		margin: 0 0 10px 0;
		.list-anchor {
			display: block;
			border-left: 2px solid lighten($highlightColor, 0.5);
			padding-left: $padding;
			margin-left: -1 * $padding;
			&:hover { border-left: 2px solid $highlightColor; }
		}
	}
}
.list-with-columns  {
	@include row();
	li {
		@include span-columns(5);
	}
}