// ===========================
// Tools/Helpers
// ===========================



@mixin responsive-modular-scale($breakpoint, $scale) {
  @include media($breakpoint) {
    @include modular-scale($scale);
  }  
}

@mixin modular-scale($scale) {
  $ms-base: $scale;
  
  body { font-size: ms(0); }

  h5 { font-size: ms(1); }

  h4 { font-size: ms(2); }

  h3 { font-size: ms(3); }

  h2 { font-size: ms(4); }

  h1 { font-size: ms(5); }
}