.styleguide-example {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;

  &__code-container {
    overflow-x: auto;
    padding-left: 2rem;
    &.is-hidden {
      display: none;
    }
  }
  &__code {

  }


  &__code-title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: $color-blueberry-dusty;
    &:after {
      content: ":";
    }
    &:not(:first-child) { margin-top: 2rem; }
  }

  &__render,
  &__code-container {
    flex: 1;
  }
}
