mixin styleguide-example(path)
  - var jadeContent = require('raw!../' + path)
  - var htmlContent = require('jade?pretty=true!../' + path)()
  .styleguide-example.o-grid
    .styleguide-example__render
      | !{htmlContent}
    .styleguide-example__code-container.narrative.js-styleguide-code
      code.styleguide-example__code-title jade
      pre
        code.language-jade= jadeContent
      code.styleguide-example__code-title html
      pre
        code.language-html= htmlContent
    
