$c-button-spacing-v: .5rem;
$c-button-spacing-h: 1rem;

$c-button-background          : $color-blueberry-dusty;
$c-button-background-hover    : darken($color-blueberry-dusty, 10%);
$c-button-background-active   : darken($color-blueberry-dusty, 15%);
$c-button-background-disabled : lighten($color-blueberry-dusty, 20%);
$c-button-color     : $color-white;

$c-button-radius    : 3px;

.c-button {
  @include button--unstyled;
  @include link--unstyled;
  display: inline-block;

  padding: $c-button-spacing-v $c-button-spacing-h;
  background: $c-button-background;
  color: $c-button-color;
  border-radius: $c-button-radius;

  transition: background 200ms ease;

  cursor: pointer;

  user-select: none;

  &:hover,
  &:focus,
  &--is-hovered,
  &--is-focused {
    background: $c-button-background-hover;
  }

  &:active,
  &--is-active {
    background: $c-button-background-active;
    transform: translateY(1px);
  }

  &:disabled,
  &--is-disabled,
  &--is-disabled:hover,
  &--is-disabled:focus,
  &--is-disabled:active {
    background: $c-button-background-disabled;
    transform: none;
    outline: none;
  }
}
