.intro {
  color: #2c3e50;
  background: #ecf0f1;
}

.intro-content-container {
  position: relative;
  height: 60%;
  min-height: 500px;
}

.intro-content {
  top: 40%;
  position: absolute;
  transform: translateY(-50%);
}

.intro-lead,
.intro-sublead {
  margin: 0 0 0.54rem;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.intro-lead {
  font-size: 2.5rem;
  font-weight: 700;
  @extend .fadeInLeft;
}

.intro-sublead {
  font-size: 1.75rem;
  font-weight: 300;
  @extend .fadeInLeft;
  animation-delay: 1.3s;
}
