@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

html {
  // base font size 18px with 1.65 line-height
  font: normal 112.5%/1.65 serif;
}

body {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -o-hyphens: manual;
  hyphens: manual;
  word-wrap: break-word;
  color: $color-text-base;
  font-weight: 200;
  font-family: 'Source Sans Pro', 'PT Sans', Helvetica, Arial, sans-serif; 
}

small {
  font-size: 65%;
}

strong {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $highlightcolor;
  font-weight: 200;
  margin-top: 0;
}

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}


// MOBILE

$ms-ratio: $fourth;
@include modular-scale(1em 1.25em);
@include responsive-modular-scale($tablet, 1.1em 1.3em);
@include responsive-modular-scale($desktop, 1.2em 1.4em);