.projects-container {
  padding: 0;
}

.project-container {

  @include span-columns(10);
  margin-bottom: 200px;

  .project-info-container { @include span-columns(10 of 10); }

  .project-pictures-container { @include span-columns(10 of 10); }


  

  &:last-child { margin-bottom: 0; } // LAST PROJECT DOESN'T NEED BOTTOM WHITESPACE

  .project-info-container { padding: $base-spacing; }

  .project-pictures-container { padding: $base-spacing; }

  .project-title {
    font-size: ms(1);
  }

  .project-tags {
    font-size: 65%;
  }

  .project-tags-title {
    text-transform: uppercase;
    font-weight: 500;
    color: $highlightcolor;
  }
}

@include media($tablet) {

  .project-container {
    @include span-columns(8);
    
    > * { text-align: left; }
    
    .project-info-container { @include span-columns(8 of 8); }

    .project-pictures-container { @include span-columns(8 of 8); }
  }
}

@include media($desktop) {

  .project-container {

    @include span-columns(12);
    
    > *:first-child { text-align: left; }

    > *:last-child { text-align: right; }
    
    .project-info-container { @include span-columns(5 of 12); }

    .project-pictures-container { @include span-columns(7 of 12); }
  }
}