.c-lead {
  // font-family takes the default on the body
  font-weight : $font-weight-default;
  font-size   : 2rem;
  color       : $color-gray;

  em {
    color: $font-color-default;
    font-style: normal;
  }
}
