body, .styleguide__wrapper, .styleguide {
  max-height: 100vh;
  overflow: hidden;
}
.styleguide {
  display: flex;
  height: 100%;
}
.styleguide__sidebar {
  width: 200px;
  text-align: right;
}
.styleguide__content {
  flex: 1;
  overflow-y: scroll;
}
