$c-footer-separator: "-";
$c-footer-spacing  : 1rem;

.c-footer {
  @include list--inline;
  text-align: center;
  font-size: 0.875rem;

  &__item {
    padding: $c-footer-spacing/2 0;
    &:not(:last-child) {
      margin-right: $c-footer-spacing;
      &:after {
        content: $c-footer-separator;
        display: inline-block;
        margin-left: $c-footer-spacing;
      }
    }
  }

  &__link {
    display: inline-block;
  }

}

@media (max-width: 600px){
  .c-footer {
    > li {
      display: block;
    }
    &__item:not(:last-child) {
      margin: 0;
      &:after { display: none; }
    }
  }
}
