.c-lead {
  font-family : $font-family-default;
  font-weight : $font-weight-default;
  font-size   : 2rem;
  color       : #bbb;



  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  em {
    color: $font-color-default;
    font-style: normal;
  }
}
