html {
  font-family : $font-family-default-falback;
  font-weight : $font-weight-default;
  font-size   : $font-size-default;
  line-height : $font-line-height-default;
  color       : $font-color-default;

  &.wf-robotomono-n3-active,
  &.wf-robotomono-i3-active,
  &.wf-robotomono-n5-active,
  &.wf-robotomono-i5-active {
    font-family : $font-family-default;
  }


  word-break: break-all;
  // Non standard for webkit
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

strong {
  font-weight: $font-weight-monospace-strong;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}
