@mixin list--inline {
  > li {
    display: inline-block;
  }
}

@mixin list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-list {
  &--unstyled {
    @include list--unstyled;
  }
  &--inline {
    @include list--unstyled;
    @include list--inline;
  }


}
