$color-white               : #fff;
$color-black               : #161616;
$color-blueberry-light     : #63ADF7;
$color-blueberry-snow-cone : #18D4F6;
$color-blueberry-dark      : #21202C;
$color-blueberry-dusty     : #790cf4;


$color-gray-light: #777;

$color-background     : $color-white;
