@import "settings.colors";
@import "settings.typography";

@import "../elements/**/*.scss";
@import "../objects/**/*.scss";
@import "../components/**/*.scss";


body, .styleguide__wrapper, .styleguide {
  max-height: 100vh;
  overflow: hidden;
}
.styleguide {
  display: flex;
  height: 100%;
}
.styleguide__sidebar {
  // width: 400px;
}
.styleguide__content {
  flex: 1;
  overflow-y: scroll;
}


.styleguide-mode {
  &__button {
    &.is-hidden {
      display: none;
    }
  }
}
