extends layouts/default

block head
  title João Figueiredo — Frontend Developer
  meta(name='description' content="João Figueiredo's space on the interwebz.")

block content
  .l-full-screen.l-pr.c-bg-tryout-blue
    .l-center-v
      .l-site-width
        h2.t-headline <strong>João Figueiredo</strong> is a <strong>frontend engineer</strong>.
          | <br>He enjoys building exciting and delightful products for the <strong>web and mobile</strong>.
        ul.inline-list
          li
            a.link-reset(href="http://www.github.com/lucalanca")
              include images/github.svg
          li
            a.link-reset(href="http://www.twitter.com/lucalanca")
              include images/twitter.svg
          li
            a.link-reset(href="https://www.linkedin.com/in/lucalanca")
              include images/linkedin.svg
