!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title yo webapp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='bower_components/naver/jquery.fs.naver.css')
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    header
      nav
        li
          a.active(href='/index.html') Home
        li
          a(href='/resume.html') Resume
        //- li
        //-   a(href='#') Projects
        //- li
        //-   a(href='#') Blog
    section.container
      //- article.intro-container
      //-   h1 Hello World
      //-   h2 Hello World
      //-   h3 Hello World
      //-   h4 Hello World
      //-   h5 Hello World
      //-   h6 Hello World
      article.intro-container
        h1
          | Hi, I'm João Figueiredo
        h3
          | — a 
          em frontend engineer 
          | from 
          em Porto, Portugal
          | .
        p
          | I currently work at 
          a(href='http://www.blip.pt/') Blip – Betfair Portugal
          | . Back in 2012, I also co-founded 
          a(href='www.sereiaschaves.com', target='_blank') Serei As Chaves
          | , an Euromillions' platform for syndicates.
        br
        p
          | You can reach me at 
          a(href='http://www.twitter.com/lucalanca') Twitter
          | , 
          a(href='http://www.facebook.com/lucalanca') Facebook
          | , 
          a(href='https://github.com/lucalanca') Github
          | , 
          a(href='http://www.linkedin.com/profile/view?id=156802495') Linkedin
          | , 
          a(href='http://www.flickr.com/lucalanca') Flickr
          | or 
          a(href='http://vimeo.com/user4848360') Vimeo
          | . 
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/naver/jquery.fs.naver.min.js')   
    // endbower
    // endbuild
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js scripts/main.js
    script(data-main='scripts/main', src='bower_components/requirejs/require.js')
    // endbuild
