!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title yo webapp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    //- link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    header
      nav
        li
          a(href='/index.html') Home
        li
          a.active(href='/resume.html') Resume
        //- li
        //-   a(href='#') Projects
        //- li
        //-   a(href='#') Blog
    section.container
      h2.page-title
        | My
        em "bureaucratic"
        | self.
      .cv-zone
        .cv-header
          h3 Profile
        .cv-content
          p
            | I'm a technology enthusiast, passionate not only about functional pieces of code, but also deeply concerned with clean, readable code, and the use of standards and software patterns.
          br
          p
            | I try to extend the quality of the things I make - good coding - to the final product, which usually is revealed in a rich user experience and carefully thought user interfaces.
          br
          p
            | In parallel to the build technologic products passion, I'm also very interested in entrepreneurship. In order to learn more about the subject, I often go to talks and conferences, and submit ideas to contests (3DS Coimbra, iUP25k, 3DS Porto). That gave me public speaking experience and the ability to perform non-boring and objective pitches.
      .cv-zone
        .cv-header
          h3 Experience
        .cv-content
          ul.lined-list
            li
              div.list-anchor
                span.cv-entry-date Jul 2013 — Current
                p
                  a(href='http://blip.pt') Blip — Betfair Portugal
                h4.cv-entry-title
                  | Frontend Developer
              p
                | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
            li
              div.list-anchor
                span.cv-entry-date Fev 2013 — Jul 2013
                p
                  a(href='http://blip.pt') Blip — Betfair Portugal
                h4.cv-entry-title
                  | Student Intern
              p
                | As part of my master's dissertation, entitled
                em "Modularization of Large Web Applications"
                |  , I'm currently working in Blip.pt as a student intern.
            li
              div.list-anchor
                span.cv-entry-date 2011 - 2012
                p
                  a(href='http://www.startupweek2011.com/') Startup Week 2011
                  | , 
                  a(href='http://www.tedxvienna.at/') TEDxVienna 2011
                  | , 
                  a(href='http://2012.agilept.org/') Agile Portugal 2012
                  | , 
                  a(href='http://beta-i.pt/betatalk/') Beta Talks Porto
                  | , 
                  a(href='#') Ciclo de Palestras AlumniEI-FEUP 2013
                  | , 
                  a(href='http://improve-portugal.pt.vu/') Improve Portugal 2013
                  |  
                h4.cv-entry-title
                  | Volunteer / Organizer
              p
                | I had the opportunity of being behind one of the biggest events about entrepreneurship in Europe. I helped the organization in the media coverage of the event (photography).
                | I helped building the mobile application of the event, which was a great tool to get more sponsorships and post-event enthusiasm.
                | I helped here and there to make sure the event (dedicated to agile software development) went smooth.
                | I'm part of the organization of this monthly event in Porto. Two entrepreneurs share their life experiences in a 15-minute talk, followed by questions and discussion.
      .cv-zone
        .cv-header
          h3 Education
        .cv-content
          ul.lined-list
            li
              div.list-anchor
                span.cv-entry-date 2008 - 2013
                h4.cv-entry-title
                  a(href='http://sigarra.up.pt/feup_uk/') Faculdade de Engenharia da Universidade do Porto
                p
                  | (BSc + MSc) Software Engineering (16 out of 20)
            li
              div.list-anchor
                span.cv-entry-date 2011 - 2012
                h4.cv-entry-title
                  a(href='http://www.tuwien.ac.at/en/') Vienna University of Technology
                p
                  | (MSc) Software Engineering — ERASMUS Programme (B)
            li
              div.list-anchor
                span.cv-entry-date 2002 - 2008
                h4.cv-entry-title
                  | ES de Águas Santas / Colégio Ellen Key (18.3 out of 20)
                p
                  | High School &ndash; Science and Technologies
      .cv-zone
        .cv-header
          h3 Things I can do
        .cv-content
          ul.lined-list.list-with-columns
            li
              p
                | Web Development
            li
              p
                | Mobile Development
            li
              p
                | UX
            li
              p
                | Ball Juggling
            li
              p.line-through
                | Make you laugh

    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    // endbower
    // endbuild
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js scripts/main.js
    script(data-main='scripts/main', src='bower_components/requirejs/require.js')
    // endbuild
