#wrapper
	+container
	/* +susy-grid-background */
	+sticky-footer(54px, "#wrapper", ".content, .content-large", "footer")
	.content
		+squish(2,2)
		+span-columns(8, 12)
	.content-large
		+span-columns(12, 12)

.line-through
	text-decoration: line-through

::selection
	background: rgba(0,0,0,0.1)
::-moz-selection
	background: rgba(0,0,0,0.1)