.cv-zone
	+span-columns(12, 12)
	margin-bottom: 20px
	.cv-header
		+span-columns(12,12)
		height: 40px
		+at-breakpoint(45em 12)
			+span-columns(2, 12)
			text-align: right
		h4
			margin-right: 20px
	.cv-content
		+span-columns(12,12)
		+at-breakpoint(45em 12)
			+span-columns(9, 12)
			padding-top: 8px
		ul
			+no-bullets
			padding: 0
			&.columns
				@include column-count(2)
				margin-top: 0px
			li
				padding-left: 10px
				border-left: 5px solid $highlightColor
				&:hover
					border-color: darken($highlightColor, 20%)
		.time
			font-size: 16px
		.highlight
			color: $highlightColor