@import "compass"
@import "compass/layout"
@import "susy"


$total-columns  : 12
$column-width   : 3em
$gutter-width   : 1em
$grid-padding   : $gutter-width

$base-font-size	: 16px
$base-line-height: 24px
+establish-baseline

$color1: #9CA2C2
$color2: #747B9E
$color3: #565D85



@import "base"
@import "typography"
@import "nav"
@import "cv"
@import "timeline"
@import "projects"