.styleguide-spec
  h3#o-link--unstyled .o-link--unstyled
  p
    | To unstyled the default style of an anchor, just add a
    | <code>.o-link--unstyled</code> class.
  +styleguide-example('objects/link-unstyled/examples/default.example')
  +styleguide-example('objects/link-unstyled/examples/unstyled.example')
