mixin titled-section (arguments)
  - var arguments = arguments || {}
  - var title     = arguments.title
  - var subtitle  = arguments.subtitle
  - var options   = arguments.options
  .section(class="section--#{options.color || dark} section--#{options.align || center }")
    .l-site-width
      h2.section-title    #{title}
      h2.section-subtitle #{subtitle}
      .section-content.l-grid.l-grid--triple
        block
