// ==|====================
// Layout/Main
// =======================

// .l-main {
// }

$max-width: em(900);

.container {
  @include outer-container;
  @include row();
  padding: $base-spacing;
}

.page-title {
  text-align: left;
}

@include media($desktop) {
  .page-title {
    text-align: center;
  }
}
