main.o-layout__content.o-container.o-center.o-center--v(role="main")
  h1.c-lead <em>João Figueiredo</em> is a <em>frontend engineer</em>.
  p.c-lead He enjoys building exciting and delightful products for the <em>web and mobile</em>.
