.o-layout.o-layout--expand
  .o-layout__content.o-container.o-center.o-center--v
    h1.c-lead <em>João Figueiredo</em> is a <em>frontend engineer</em>.
    p.c-lead He enjoys building exciting and delightful products for the <em>web and mobile</em>.
  footer.o-container
    nav
      ul.c-footer
        li.c-footer__item
          a.c-footer__link.c-link(href="/styleguide") (🔨) Styleguide
          
            li.c-footer__item
              a.c-footer__link.c-link(href="https://www.twitter.com/lucalanca") (💬) Twitter
            li.c-footer__item
              a.c-footer__link.c-link(href="https://www.github.com/lucalanca") (🚀) Github
