extends ../templates/template.jade

include ../components/styleguide-navigation/template.jade

block head
  

block body
  main.o-layout__content.styleguide__wrapper(role="main")
    .styleguide
      .styleguide__sidebar.o-container
        +styleguide-navigation({
          pages: [
            {name: 'home'      , url: 'styleguide'},
            {name: 'objects'   , url: 'styleguide-objects'},
            {name: 'components', url: 'styleguide-components', active: true}
          ]
        }, {}, data)
      .styleguide__content
        .o-container
          h2 Components
          include ../components/button/spec.jade
          include ../components/footer/spec.jade
          include ../components/lead/spec.jade
          include ../components/link/spec.jade
          include ../components/narrative/spec.jade
                  
block scripts
  script.
    WebFontConfig = {
      google: { families: ['Roboto+Mono:300,300italic,500,500italic', 'Open+Sans:300,800' ] }
    };
    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
      s.parentNode.insertBefore(wf, s);
    })(document);
