style.
  body, .styleguide__wrapper, .styleguide {
    max-height: 100vh;
    overflow: hidden;
  }
  .styleguide {
    display: flex;
    height: 100%;
  }
  .styleguide__sidebar {
    width: 200px;
  }
  .styleguide__content {
    flex: 1;
    overflow-y: scroll;
  }
main.o-layout__content.styleguide__wrapper(role="main")
  .styleguide
    .styleguide__sidebar
      .o-container
        | !{require('../partials/styleguide-navigation.jade')()}
    .styleguide__content
      .o-container
        h2 Objects
        h3 o-layout
        h3 o-container
        h3 o-link--unstyled
        h3 o-button--unstyled
        h3 o-list--inline
