extends ../templates/template.jade

include ../components/styleguide-navigation/template.jade
include ../components/styleguide-example/template.jade


block head
  style !{require('../styles/styleguide.scss')[0][1]}

block body
  main.o-layout__content.styleguide__wrapper(role="main")
    .styleguide
      .styleguide__sidebar.o-container
        .styleguide-mode
          button.styleguide-mode__button.js-styleguide-show-code.is-hidden(type="button") show code
          button.styleguide-mode__button.js-styleguide-hide-code(type="button") hide code
        +styleguide-navigation({
          pages: [
            {
              name: 'home',
              url: 'styleguide'
            },
            {
              name: 'objects',
              url: 'styleguide-objects',
              active: true,
              children: [
                'o-button--unstyled', 'o-center', 'o-grid',
                'o-container', 'o-layout', 'o-link--unstyled',
                'o-list'
              ]
            },
            {
              name: 'components',
              url: 'styleguide-components'
            }
          ]
        }, {}, data)
      .styleguide__content
        h2 Objects
        include ../objects/button-unstyled/spec.jade
        include ../objects/center/spec.jade
        include ../objects/container/spec.jade
        include ../objects/grid/spec.jade
        include ../objects/layout/spec.jade
        include ../objects/link-unstyled/spec.jade
        include ../objects/list/spec.jade
block scripts
  script.
    WebFontConfig = {
      google: { families: ['Roboto+Mono:300,300italic,500,500italic', 'Open+Sans:300,800' ] }
    };
    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
      s.parentNode.insertBefore(wf, s);
    })(document);
