// ===========================
// Base
// ===========================

body {
  font-family: $font1;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 2px solid $color-link;
  @include transition();

  &:hover {
    color: $color-link-hover;
    border-bottom-color: $color-link-hover;
  }
}

::-moz-selection {
  background: $color1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $color1;
  color: #fff;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.loading {
  visibility: hidden;
}