h3#o-center .o-center
p
  | To vertically or horizontally center content inside a container, use the
  | <code>.o-center</code> in combination with <code>.o-center--v</code>
  | <code>.o-center--h</code> <code>.o-center--both</code> classes.
style.
    .o-center { height: 200px; background-color: DarkOrchid; }
+styleguide-example('objects/center/examples/vertical.example')
+styleguide-example('objects/center/examples/horizontal.example')
+styleguide-example('objects/center/examples/both.example')
