@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,500,500italic);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
@charset "UTF-8";
html {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.7;
  color: #161616;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto; }

strong {
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0; }

html,
body {
  height: 100%; }

.o-layout {
  display: flex;
  flex-direction: column; }
  .o-layout__content {
    flex: 1; }

.o-container {
  max-width: 900px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto; }

.o-list--inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .o-list--inline > li {
    display: inline-block; }

.o-button--unstyled {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit; }

.o-link--unstyled {
  text-decoration: none;
  color: inherit; }

.c-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.875rem; }
  .c-footer > li {
    display: inline-block; }
  .c-footer__item {
    padding: 0.5rem 0; }
    .c-footer__item:not(:last-child) {
      margin-right: 1rem; }
      .c-footer__item:not(:last-child):after {
        content: "-";
        display: inline-block;
        margin-left: 1rem; }
  .c-footer__link {
    display: inline-block; }

@media (max-width: 600px) {
  .c-footer > li {
    display: block; }
  .c-footer__item:not(:last-child) {
    margin: 0; }
    .c-footer__item:not(:last-child):after {
      display: none; } }

.c-link, .c-narrative a {
  color: #790cf4;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 200ms ease, border-bottom-color 200ms ease; }
  .c-link:focus, .c-narrative a:focus, .c-link:hover, .c-narrative a:hover, .c-link:active, .c-narrative a:active {
    border-bottom-color: currentColor; }
  .c-link:active, .c-narrative a:active {
    color: #5508ac; }

.c-button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #790cf4;
  color: #fff;
  border-radius: 3px;
  transition: background 200ms ease;
  cursor: pointer;
  user-select: none; }
  .c-button:hover, .c-button:focus, .c-button--is-hovered, .c-button--is-focused {
    background: #6109c4; }
  .c-button:active, .c-button--is-active {
    background: #5508ac;
    transform: translateY(1px); }
  .c-button:disabled, .c-button--is-disabled, .c-button--is-disabled:hover, .c-button--is-disabled:focus, .c-button--is-disabled:active {
    background: #af6ef8;
    transform: none;
    outline: none; }

.c-lead {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 2rem;
  color: #161616; }
  .c-lead__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .c-lead em {
    color: #bbb;
    font-style: normal; }

.c-narrative p,
.c-narrative cite,
.c-narrative li {
  margin: .6em 0 0 0;
  max-width: 42em;
  font-size: 1rem; }

.c-narrative h1:first-child,
.c-narrative h2:first-child,
.c-narrative h3:first-child,
.c-narrative h4:first-child,
.c-narrative h5:first-child,
.c-narrative h6:first-child,
.c-narrative p:first-child,
.c-narrative cite:first-child,
.c-narrative li:first-child,
.c-narrative blockquote:first-child,
.c-narrative pre:first-child {
  margin-top: 0; }

.c-narrative h1,
.c-narrative h2,
.c-narrative h3,
.c-narrative h4,
.c-narrative h5,
.c-narrative h6,
.c-narrative cite {
  font-family: "Open Sans", sans-serif;
  margin: 1.5em 0 0 0;
  line-height: 1.3; }

.c-narrative h1,
.c-narrative h2,
.c-narrative h3 {
  font-weight: 300; }

.c-narrative h4,
.c-narrative h5 {
  font-weight: 800; }

.c-narrative h1 {
  font-size: 5rem;
  color: #790cf4; }

.c-narrative h2 {
  font-size: 3.25rem; }

.c-narrative h3 {
  font-size: 2.25rem; }

.c-narrative h4 {
  font-size: 1.5rem; }

.c-narrative h5 {
  font-size: 1rem;
  text-transform: uppercase; }

.c-narrative h6 {
  font-size: 1rem; }

.c-narrative ul,
.c-narrative ol {
  margin: 1rem 0 0 0;
  padding-left: 1.8rem; }

.c-narrative strong:before, .c-narrative strong:after {
  content: "*";
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit; }

.c-narrative em:before, .c-narrative em:after {
  content: "_";
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit; }

.c-narrative blockquote {
  border-left: 2px solid #790cf4;
  padding-left: 1rem; }
  .c-narrative blockquote footer {
    font-size: 0.875rem; }
  .c-narrative blockquote cite:before {
    content: '\2014   '; }

.c-narrative pre[class*="language-"],
.c-narrative blockquote {
  margin: 3rem 0; }

@media (max-width: 500px) {
  .c-narrative html {
    font-size: .8em; } }

body {
  background: #fff;
  padding: 0;
  margin: 0; }
