<div class="main-container">
  <h2 class="page-title">My <em>"bureaucratic"</em> self.</h2>
  <ul class="resume">
    <!-- PROFILE -->
    <li class="resume-item">
      <h3 class="resume-item-title stick-in-parent">Profile</h3>
      <div class="resume-item-container">

        <p>I'm a technology enthusiast, passionate not only about functional pieces of code, but also deeply concerned with clean, readable code, and the use of standards and software patterns.</p>

        <p>I try to extend the quality of the things I make - good coding - to the final product, which usually is revealed in a rich user experience and carefully thought user interfaces.</p>

        <p>In parallel to the build technologic products passion, I'm also very interested in entrepreneurship. In order to learn more about the subject, I often go to talks and conferences, and submit ideas to contests (3DS Coimbra, iUP25k, 3DS Porto). That gave me public speaking experience and the ability to perform non-boring and objective pitches.</p>
      </div>
    </li>

    <!-- EXPERIENCE -->
    <li class="resume-item">
      <h3 class="resume-item-title stick-in-parent">Experience</h3>
      <ul class="resume-item-container">
        <li class="resume-item-enumerable">
          <p><small><em>Jul 2013 — Present</em></small></p>
          <p class="highlight">Frontend Engineer, <a href="http://blip.pt">Blip — Betfair Portugal</a></p>
          <p>
            I currently work as a frontend engineer in Blip (Betfair Portugal), where I build websites using <abbr>HTML</abbr>, <abbr>CSS</abbr>, <abbr>JS</abbr> (<abbr>YUI3</abbr>).
          </p>
        </li>
        <li class="resume-item-enumerable">
          <p><small><em>Jun 2012 — Present</em></small></p>
          <p class="highlight">Founder, <a href="http://www.sereiaschaves.com">Serei As Chaves</a></p>
          <p>
            An online platform to bet in euromillions in syndicates. Syndicates can be public or private and we take care of the bets submission, and prize distribution. Users are able to participate in large syndicates multiplying their chances of winning or invite their friends into a private syndicate and automate the whole process of managing a syndicate.
          </p>
        </li>
        <li class="resume-item-enumerable">
          <p><small><em>2011 - 2013</em></small></p>
          <p class="highlight">Volunteer</p>
          <p>
            I was a volunteer in numerous national and international events around entrepreneurship, innovation, technology and software. Namely, I was a volunteer in <a href="http://www.startupweek2011.com/">Startup Week 2011</a>, <a href="http://www.tedxvienna.at/">TEDxVienna 2011</a>, <a href="http://2012.agilept.org/">Agile Portugal 2012</a>.
          </p>
        </li>
        <li class="resume-item-enumerable">
          <p><small><em>Set. 2012 — Fev. 2013</em></small></p>
          <p class="highlight">Organizer</p>
          <p>
            <a href="http://beta-i.pt/betatalk/">Beta Talks Porto</a> and <a href="http://improve-portugal.pt.vu/">Improve Portugal</a> .
          </p>
        </li>
      </ul>
    </li>

    <!-- EDUCATION -->
    <li class="resume-item">
      <h3 class="resume-item-title stick-in-parent">Education</h3>
      <ul class="resume-item-container">
        <li class="resume-item-enumerable">
          <p><small><em>2008 - 2013</em></small></p>
          <p><a href="http://sigarra.up.pt/feup_uk/">Faculdade de Engenharia da Universidade do Porto</a></p>
          <p>(BSc + MSc) Software Engineering</p>
        </li>
        <li class="resume-item-enumerable">
          <p><small><em>2011 - 2012</em></small></p>
          <p><a href="http://www.tuwien.ac.at/en/">Vienna University of Technology</a></p>
          <p>(MSc) Software Engineering — ERASMUS Programme</p>
        </li>
      </ul>
    </li>

  </ul>
</div>