mixin intro ()
  .intro
    .l-site-width
      .intro-content-container
        .intro-content
          h1.intro-lead João Figueiredo
          h2.intro-sublead I build products for the web and I have fun while doing it.
