@mixin list--inline {
  display: flex;
}

@mixin list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list--samewidth {
  display: flex;
  > li {
    flex: 1;
  }
}

@mixin list--equidistant {
  display: flex;
  justify-content: space-between;
}

.o-list {
  &--unstyled {
    @include list--unstyled;
  }
  &--inline {
    @include list--unstyled;
    @include list--inline;
  }
  &--samewidth {
    @include list--unstyled;
    @include list--samewidth;
  }

  &--equidistant {
    @include list--unstyled;
    @include list--equidistant;
  }
}
