mixin header ()
  header
    nav.l-horizontal-list
      li
        a(href="index.html",class="active") Home
      li
        a(href="resume.html") Resume
      li
        a(href="projects.html") Projects
