/* apply a natural box layout model to all elements, but allowing components to change */


$o-grid-gutter: 1rem;
.o-grid {
  margin-left: -$o-grid-gutter;
  &__cell {
    padding-left: $o-grid-gutter;
    display: inline-block;
    vertical-align: top;

    &--one-whole      { width: (1/1) * 100% !important;}

    &--one-half       { width: (1/2) * 100% !important; }

    &--one-third      { width: (1/3) * 100% !important; }
    &--two-thirds     { width: (2/3) * 100% !important; }

    &--one-quarter    { width: (1/4) * 100% !important; }
    &--three-quarters { width: (3/4) * 100% !important; }

    &--one-fifth      { width: (1/5) * 100% !important; }
    &--two-fifths     { width: (2/5) * 100% !important; }
    &--three-fifths   { width: (3/5) * 100% !important; }
    &--four-fifths    { width: (4/5) * 100% !important; }

  }
}
