.skills {
  list-style: none;
  padding: 0;
}

.skill {
  background: rgba(white, 0.3);
  margin: $s-gutter/2 0;
  position: relative;
  width: 100%;
  height: 1.5*$s-gutter;
  &:hover {
    transform: scale(1.2);
    transition: transform 300ms cubic-bezier(0, 1.8, 1, 1);
  }
}

.skill-label,
.skill-bar {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.skill-label {
  font-size: .9rem;
  color: #2c3e50;
  z-index: 1;
  padding: 0 $s-gutter/2;
  line-height: 1.5*$s-gutter;
}
.skill-bar {
  background: rgba(white, 1);
}
