<div id="timeline-wrapper" class="content">
  	<% data.timeline.hello.each do |f| %>
  		<div class="timeline-entry">
			<span class="timeline-date <% if f.bullet %>bullet<% end %>"><%= f.date %></span>
			<div class="timeline-text">
				<h4><%= escape_html(f.title) %></h4>
				<% if f.text %>
				<p><%= escape_html(f.text) %></p>
				<% end %>
			</div>
		</div>
  	<% end %>
</div>