<section id="projects-list" class="content-large">
	<% data.projects.projects.each do |p| %>
		<section class="project-wrapper">
			<section class="project-description">
				<div class="description-zone">
					<span class="label">Project</span><br>
					<span class="title-text"><%= p.title %></span>
				</div>
				
				<div class="description-zone">
					<span class="label">Description</span><br>
					<span class="main-text"><%= p.description %></span>
				</div>
				
				<div class="description-zone">
					<span class="label">Technologies Used</span><br>
					<span class="main-text"><%= p.technologies %></span>	
				</div>

				<div class="description-zone">
					<span class="label">Date</span><br>
					<span class="main-text"><%= p.date %></span>	
				</div>
			</section>
			<section class="project-images">
				<div class="gallery">
					<ul class="slides">
    					<li><img src="http://www.blogdicas.com/wp-content/uploads/2011/09/Celulares-da-LG-496x400.jpg" /></li>
    					<!-- <li>
              				<iframe id="player_1" src="http://player.vimeo.com/video/39683393?api=1&amp;player_id=player_1" width="496" height="394" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  	    				</li> -->
    					<li><img src="http://www.blogdicas.com/wp-content/uploads/2011/09/Celulares-da-LG-496x400.jpg" /></li>
    					<li><img src="http://www.blogdicas.com/wp-content/uploads/2011/09/Celulares-da-LG-496x400.jpg" /></li>
    					<li><img src="http://www.blogdicas.com/wp-content/uploads/2011/09/Celulares-da-LG-496x400.jpg" /></li>
  				</ul>
  			</div>				
			</section>			
		</section>
	<% end %>
</section>