<section id="projects-list" class="content-large">
	<% data.projects.projects.each do |p| %>
		<section class="project-wrapper">
			<section class="project-description">
				<div class="description-zone">
					<span class="label">Project</span><br>
					<span class="title-text"><%= p.title %></span>
				</div>
				
				<div class="description-zone">
					<span class="label">Description</span><br>
					<span class="main-text"><%= p.description %></span>
				</div>
				
				<div class="description-zone">
					<span class="label">Technologies Used</span><br>
					<span class="main-text"><%= p.technologies %></span>	
				</div>
			</section>
			<section class="project-images">
				<img src="http://placehold.it/445x500">
			</section>			
		</section>
	<% end %>
</section>