//
// Variables to be used throughout the project
//

// Fonts
$font-main: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-key: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #b3d4fc;

// Text Color
$main-color: #222;
$highlight-color: #5086d1;



// Spacing
$main-spacing-horizontal: 10px;
$main-spacing-vertical:   5px;
$main-spacing: $main-spacing-horizontal $main-spacing-vertical;

$large-spacing-horizontal: 20px;
$large-spacing-vertical:   10px;
$large-spacing: $large-spacing-vertical $large-spacing-horizontal;


// Container sizes
$small-container-width: 675px;
$main-container-width:  800px;
$large-container-width: 960px;