h3#o-button--unstyled .o-button--unstyled
p To unstyled the default style of a button, just add a <code>.o-button--unstyled</code> class.
+styleguide-example('objects/button-unstyled/examples/default.example')
+styleguide-example('objects/button-unstyled/examples/unstyled.example')
